<h3>About</h3>
I built this to learn <a href="http://nodejs.org/">Node.js</a> and <a href="http://angularjs.org/">Angular.js</a>
<br>
<br>
Contact me
<a href="mailto:rory@roryhughes.net">email</a>
<a href="https://twitter.com/RoryDHughes">twitter</a>
<br>
<br>

<h3>Special thanks</h3>
<ul>
	<li>
		Richard Hughes
		<a href="mailto:richard@hughes.ie">email</a>
		<a href="https://twitter.com/RWJHughes">twitter</a>
	</li>
	<li>
		Daniel Forde
	</li>
</ul>


<div ng-controller="ChangeLogController">
	<div class="pure-g-r">
		<div class="pure-u-1-2 changelog">
			<h3>Changelog</h3>
			<div class="pure-g-r" ng-repeat="ver in versions" ng-class="$first ? 'current' : 'previous'">
		    <div class="pure-u-1-6">
					<h3 ng-bind="ver.version" class="version-number"></h3>
					<p ng-bind="ver.date" class="small-faded version-date"></p>
		    </div>
		    <div class="pure-u-5-6">
		    	<ul class="list-item">
		    		<li ng-repeat="chng in ver.changes" ng-bind="chng" class="small"></li>
		    	</ul>
		    </div>
			</div>
			<button class="show-all-versions pure-button pure-button-small pure-button-secondary" ng-click="showAll()" ng-show="versions.length == 3">Show all versions</button>
		</div>
		<div class="pure-u-1-2">
			<h3>Upcoming features/ideas</h3>
			<ul class="list-item" ng-repeat="i in ideas">
				<li ng-bind="i" class="small"></li>
			</ul>
		</div>
	</div>
</div>

<p class="small-faded">
	<b>Disclaimer</b><br />
	ImageSwaps was created for the enjoyment of sharing already publicly available information on the internet. I will not accept any liability for illegal actions other users preform on it. If you find anything on this which you believe should not exist please contact me using the details above.
</p>