<h3>Swap an image with a random person!</h3>
<button ng-show="swapStatus > 0" class="pure-button pure-input-1 {{swapStatus > 1 ? 'pure-button-primary' : 'pure-button-error pure-button-small'}}" ng-click="restart()" analytics-on analytics-event="restart_swap">
	{{swapStatus > 1 ? 'New swap' : 'Leave - New Swap'}}
</button>
<form novalidate name="newSwapForm" class="pure-form pure-form-aligned new-swap-form" ng-submit="newSwap()" ng-hide="swapStatus">
  <fieldset>
		<div class="pure-control-group">
	    <label for="url">Link to an image</label>
	    <input id="url" type="url" class="pure-input-2-3" placeholder="http://i.imgur.com/DuBec8q.gif" ng-model="newSwapObject.url" ng-required>
		</div>
		<div class="clear">
	    <div class="small-faded img-url-help">
	    	You can find loads on <a href="http://imgur.com/r/funny" target="_blank">imgur</a> or <a href="https://www.google.com/imghp">Google images</a>. Copy the image's url and paste it above!
	    </div>
		</div>
		<div class="pure-control-group">
	    <label for="desc">Description or message</label>
	    <textarea id="desc" type="text" class="pure-input-2-3" maxlength="250" placeholder="Funny cat GIF..." ng-model="newSwapObject.desc" ng-maxlength="250" ng-minlength="1" ng-required="true">
	    </textarea>
		</div>
  </fieldset>
  <button type="submit" class="pure-button pure-input-1 pure-button-xlarge {{validSwap() ? 'pure-button-success' : ''}}" analytics-on analytics-event="swap_attempt">{{validSwap() ? 'Swap your image!' : 'Enter info &#8593; and click here!'}}</button>
</form>

<div ng-show="swapStatus">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- imageswaps_small_middle -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:320px;height:50px"
	     data-ad-client="ca-pub-0609957429635862"
	     data-ad-slot="1874298473"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>

<div class="pure-g-r swap-container">
  <div class="pure-u-1-2" ng-show="swapStatus">
  	<div ng-show="swapStatus == 1" class="loading">
  		looking for a match
  		<img src="loader.gif">
  	</div>
  	<div ng-show="swapStatus == 2">
	  	<h4>Their image...</h4>
	  	<div class="image-desc" ng-bind="incomingSwapObject.desc"></div>
	  	<a href="{{incomingSwapObject.url}}" target="_blank"><img class="image-itself" ng-src="{{incomingSwapObject.url}}" /></a>
	  	<button class="pure-button pure-button-warning pure-button-small" ng-click="restart(incomingSwapObject.url)">ReSwap their image!</button>
  	</div>
  </div>
  <div class="pure-u-1-2" ng-hide="newSwapForm.$error.url || !newSwapObject.url">
  	<h4>Your Image...</h4>
  	<div class="image-desc" ng-bind="newSwapObject.desc || 'type a description in the box above...'"></div>
  	<a href="{{newSwapObject.url}}" target="_blank"><img verify-img class="image-itself" ng-src="{{newSwapObject.url}}" /></a>
  	<div class="image-load-error" ng-hide="validImgLink.valid">
  		<div class="image-load-error-title">Couldn't Load Image</div>
  		You need to make sure the url actually points to an image and not a web page. <a href="/#/help" target="_blank">Wait, what?</a>
  	</div>
  </div>
</div>